{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/prop-types": 0,
    "comma-dangle": ["error", "never"],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-quotes": ["error", "prefer-single"]
  }
}
