/* MS Edge and IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .title {
    margin-top: 20%;
    color: rgb(255, 255, 255);
  }

  .section-title {
    color: #fff;
    text-shadow: 0px 0px 5px #000,
      0px 0px 5px #000,
      0px 0px 5px #000,
      0px 0px 5px #000;
  }

  .left > span {
    color: rgb(26, 26, 26);
  }

  .competence-block {
    width: 24vw;
    display: inline-block;
    vertical-align: top;
    margin: 20px 3vw 0 3vw;
  }

  .competence-block > .competence-description.professional {
    height: 565px;
  }

  .competence-block > .competence-description.personal {
    height: 400px;
  }

  .skill-description {
    color: rgb(26, 26, 26);
  }
}


/* MS Edge only */
@media all and (-ms-ime-align: auto) {
  .title {
    margin-left: -200px;
  }
}