body {
  font-family: Verdana,Geneva,sans-serif;
  color: rgb(26, 26, 26);
}

#root {
  --primary-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgb(26, 26, 26);
}

header {
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 20% 1fr;
  grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
}

.title {
  grid-area: a;
  text-align: center;
  font-size: 9vmin;
  font-weight: bold;
  text-shadow: 1px 0px 5px #000,
    0px 1px 5px #000,
    -1px 0px 5px #000,
    0px -1px 5px #000;
  color: var(--primary-font-color);
}

.sub-title {
  font-size: 5.3vmin;
  padding: 0 5px;
  transition: margin-left 700ms ease-in-out, margin-right 700ms ease-in-out;
}

.sub-title.personal {
  margin-top: -7vmin;
  margin-left: -500%;
}

.section {
  width: 100vw;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.85);
}

.section-title {
  margin-left: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 150%;
  color: var(--secondary-font-color);
}

.section-title.personal {
  display: none;
}

.about {
  margin: 0 5%;
  padding: 20px 0;
}

.about.personal {
  display: none;
}

.about.personal .p {
  font-size: 130%;
  margin-bottom: 20px;
  width: 60%;
}

.timeline-entry {
  padding-bottom: 10px;
}

.year {
  font-size: 120%;
  font-weight: bold;
}

.year::after {
  content: " — ";
}

#links {
  position: fixed;
  background: #FFF;
  padding: 5px 5px 0 137px;
  height: 46px;
}

#links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

@media (min-width: 668px) {
  body {
    background: url('canoe.jpg'), url('canoe-blur.jpg');
    background-color: #accd7e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  #links {
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
  }
}

@media (max-width: 667px) {
  body:after {
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('canoe-mobile.jpg');
    background-size: cover;
  }

  .sub-title {
    font-size: 5.3vmin;
  }

  .about.personal div {
    width: 100%;
    text-align: left;
  }

  #links {
    bottom: 0;
    right: 0;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
  }
}
