body {
  font-family: Verdana,Geneva,sans-serif;
  color: rgb(26, 26, 26);
}

#root {
  background: url('XF28b4k_maybe_finished_no-logo1920x1080.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  --primary-font-color: rgb(255, 255, 255);
  --secondary-font-color: rgb(26, 26, 26);
}

header {
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 20% 1fr;
  grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
}

.title {
  grid-area: a;
  text-align: center;
  font-size: 9vmin;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  color: var(--primary-font-color);
}

.sub-title {
  font-size: 5.3vmin;
  padding: 0 5px;
  transition: margin-left 1s ease-in-out, margin-right 1s ease-in-out;
}

.sub-title.personal {
  margin-top: -7vmin;
  margin-left: -200%;
}

.section {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.section-title {
  margin: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 120%;
  color: var(--primary-font-color);
}

.about {
  margin: 0 5%;
  padding-bottom: 50px;
  width: 100%;
}

.about.personal {
  display: none;
  text-align: center;
}

.about.personal div {
  font-size: 130%;
  width: 60%;
  margin: auto;
}

.timeline-entry {
  padding-bottom: 10px;
}

.year {
  font-size: 120%;
  font-weight: bold;
}

.year::after {
  content: " — ";
}

#links {
  position: fixed;
  background: #FFF;
  padding: 5px 5px 0 5px;
  height: 40px;
}

#links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

@media (min-width: 668px) {
  #links {
    top: 0;
    right: 0;
    -webkit-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
  }
}

@media (max-width: 667px) {
  .sub-title {
    font-size: 5.3vmin;
  }

  .about.personal div {
    width: 100%;
    text-align: left;
  }

  #links {
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
  }
}
