#switch {
  position: fixed;
  top: 0;
  left: 0;
  width: 130px;
  height: 52px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

#switch:active ~ .switch-link {
  color: dodgerblue;
}

.switch-link {
  color: blue;
  position: fixed;
  width: 120px;
  padding: 5px 5px 10px 5px;
  height: 35px;
  background: #fff;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

.switch-link.to-professional {
  display: none;
}

#switch:checked ~ .switch-link.to-personal {
  display: none;
}

#switch:checked ~ .switch-link.to-professional {
  display: block;
}

#switch:checked ~ #expertise .competence-title.web-dev {
  display: none;
}

#switch:checked ~ #expertise .competence-title.gaming {
  display: block;
}

#switch:checked ~ #expertise .competence-description.web-dev {
  display: none;
}

#switch:checked ~ #expertise .competence-description.gaming {
  display: block;
}