#switch {
  position: fixed;
  margin-right: 130px;
  width: 130px;
  height: 45px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

#switch:active ~ .switch-link {
  color: dodgerblue;
}

.switch-link {
  position: fixed;
  margin-right: 130px;
  width: 120px;
  padding: 5px 5px 10px 5px;
  height: 30px;
  font-size: 90%;
  background: #fff;
  color: blue;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

@media (min-width: 668px) {
  #switch {
    top: 0;
    right: 0;
  }

  .switch-link {
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.2);
  }
}

@media (max-width: 667px) {
  #switch {
    bottom: 0;
    right: 0;
  }

  .switch-link {
    bottom: 0;
    right: 0;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.2);
  }
}

.switch-link.to-professional {
  display: none;
}

#switch:checked ~ header .sub-title.professional {
  display: none;
}

#switch:checked ~ header .sub-title.personal {
  display: block;
}

#switch:checked ~ .switch-link.to-personal {
  display: none;
}

#switch:checked ~ .switch-link.to-professional {
  display: block;
}

#switch:checked ~ #about .about.professional {
  display: none;
}

#switch:checked ~ #about .about.personal {
  display: block;
}

#switch:checked ~ #expertise .competence-title.professional {
  display: none;
}

#switch:checked ~ #expertise .competence-title.personal {
  display: block;
}

#switch:checked ~ #expertise .competence-description.professional {
  visibility: hidden;
  position: absolute;
  max-height: 0;
}

#switch:checked ~ #expertise .competence-description.personal {
  visibility: visible;
  position: static;
  max-height: 1000px;
}