.skills {
  min-height: 100%;
  background: #c3f2b0;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "a b";
}

.part {
  padding: 30px 0;
}

.left {
  grid-area: a;
  text-align: left;
  margin-left: 30%;
}

.left > span {
  font-size: 200%;
  font-weight: bold;
  font-style: italic;
}

.right {
  grid-area: b;
  text-align: center;
}

.right > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 880px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
  }

  .part {
    padding: 30px 30px 0 0;
  }

  .part:last-child {
    padding-bottom: 30px;
  }

  .left {
    margin-left: 10%;
  }
}