@import '../../scss/_variables';

.section {
  width: 100vw;
}

.sectionTitle {
  position: absolute;
  margin: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: $dark-font;
}
