$site-background-color: #E8E3E3;
$primary-background-color: #8C0400;
$secondary-background-color: #B30500;
$tertiary-background-color: #C20500;
$font-color: #EBD6D5;

$primary-font-size: 16pt;
$secondary-font-size: 12pt;
$primary-font-size-active: 16.7pt;
$secondary-font-size-active: 12.5pt;
