@import '../../scss/_variables';

.menuLink {
  background: $secondary-background-color;
  width: 100px;
  height: 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 10px;

  .linkBottom {
    background: $site-background-color;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 5px;
    bottom: 0;
    position: absolute;
  }
}

.activeLink, .menuLink:hover {
  background: $tertiary-background-color;
}