.yearBlock {
  width: 60px;
  height: 50px;
  float: left;
  text-align: center;
  color: #EBD6D5;
  font-size: 16pt;
  transition: font 0.3s, background 0.3s;
}

.yearBlock span {
  position: relative;
  top: 13px;
}

.yearBlock:hover {
  cursor: pointer;
  font-size: 16.7pt;
  background-color: #D92E2A;
}

.keyYear {
  background-color: #8C0400;
}

.midYear {
  background-color: #B30500;
}

.eventDescription {
  position: absolute;
  left: 65px;
  font-size: 14pt;
}
