$activeColor: #D92E2A;

.eventContainer {
  width: 500px;
  float: left;
  font-size: 16pt;
  text-align: center;
  transition: background 0.3s;
}

.eventContainer:not(.empty):hover {
  cursor: pointer;
  background-color: lighten($activeColor, 5%);
}

.eventContainer.active {
  background-color: $activeColor;
}

.eventContainer.empty {
  cursor: default;
}

.year {
  width: 60px;
  float: left;
  color: #EBD6D5;
  position: relative;
  top: 13px;
  transition: font 0.3s;
}

.eventContainer:not(.empty):hover .year, .active .year {
  font-size: 16.7pt;
}

.eventSummary {
  width: 440px;
  height: 50px;
  background-color: #FFFFFF;
  float: right;
  font-size: 12pt;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 16px 0 0 5px;
  transition: font-size 0.3s;
}

.eventContainer:not(.empty):hover .eventSummary, .active .eventSummary {
  font-size: 12.5pt;
}

.active .eventSummary {
  font-weight: 500;
}

.eventDescription {
  max-height: 0px;
  width: 440px;
  margin-left: 60px;
  text-align: left;
  font-size: 12pt;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 0 5px 5px;
  background-color: #FFFFFF;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.active .eventDescription {
  max-height: 500px;
  transition: max-height 1s linear;
}

.keyYear {
  background-color: #8C0400;
}

.midYear {
  background-color: #B30500;
}
