@import '../../scss/mixins';
@import '../../scss/_variables';

.eventContainer {
  width: 500px;
  background-color: $container-background-color;
  float: left;
  font-size: $primary-font-size;
  text-align: center;
  transition: background 0.3s;

  .year {
    width: 60px;
    height: 50px;
    background-color: $block-background-color;
    float: left;
    color: $font-color;
    padding-top: 13px;
    transition: font 0.3s;
    cursor: pointer;
    @include box-sizing(border-box);
  }

  .eventSummary {
    width: 440px;
    height: 50px;
    background-color: $main-background-color;
    float: right;
    font-size: $secondary-font-size;
    text-align: left;
    padding: 16px 0 0 5px;
    transition: font-size 0.3s;
    cursor: pointer;
    @include box-sizing(border-box);
  }

  .eventDescription {
    max-height: 0px;
    width: 440px;
    margin-left: 60px;
    text-align: left;
    font-size: $secondary-font-size;
    padding: 0 0 5px 5px;
    background-color: $main-background-color;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    @include box-sizing(border-box);
  }
}

.eventContainer.empty {
  .year {
    opacity: 0.6;
    cursor: default;
  }

  .eventSummary {
    cursor: default;
  }
}

.eventContainer.active {
  .year {
    font-size: $primary-font-size-active;
  }

  .eventSummary {
    font-size: $secondary-font-size-active;
    font-weight: 500;
  }

  .eventDescription {
    max-height: 500px;
    transition: max-height 1s linear;
  }
}

.eventContainer:not(.empty) {
  .year {
    @include box-shadow((
      inset 0 -7px 2px -2px rgba($container-background-color, 1),
      inset 0 7px 2px -2px rgba(lighten($container-background-color, 15%), 1)
    ));
  }
}

.eventContainer:not(.empty):hover {
  .year {
    background-color: lighten($block-background-color, 5%);
    font-size: $primary-font-size-active;
  }

  .eventSummary {
    font-size: $secondary-font-size-active;
  }
}

@media screen and (max-width: 480px) {
  .eventContainer {
    width: 85%;

    .year {
      width: 15%;
    }

    .eventSummary {
      width: 85%;
    }

    .eventDescription {
      width: 85%;
      margin-left: 15%;
    }
  }
}
