.timeline {
  width: 50px;
  height: auto;
}

.yearBlock {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  color: #EBD6D5;
  font-size: 12pt;
  transition: font 0.3s, background 0.3s;
}

.yearBlock span {
  position: relative;
  top: 16px;
}

.yearBlock:hover {
  cursor: pointer;
  font-size: 13pt;
  background-color: #D92E2A;
}

.keyYear {
  background-color: #8C0400;
}

.midYear {
  background-color: #B30500;
}

.eventDescription {
  position: absolute;
  left: 55px;
}
