@import '../../scss/mixins';

.block {
  border-radius: 3px;
}

.title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  color: #CCC;
}

.titleBorder {
  height: 1px;
  width: 90%;
  background: #CCC;
  margin: 3px auto 0 auto;
  @include blur(1px);
}

.description {
  color: #CCC;
  font-size: 120%;
  text-align: center;
  padding: 5%;
}