.expertise {
  height: 100%;
  background: #9eedff;
  display: grid;
  grid-template-columns: 1fr repeat(3, 28vw) 1fr;
  grid-template-rows: 1fr 70% 1fr;
  grid-column-gap: 2%;
  grid-template-areas: 
    ". . . . ."
    ". a b c ."
    ". . . . .";
  text-align: center;
}

.expertise > *:first-child {
  grid-area: a;
}

.expertise > *:nth-child(2) {
  grid-area: b;
}

.expertise > *:nth-child(3) {
  grid-area: c;
}
