$container-background: #8C0400;
$block-background: #B30500;
$font-color: #EBD6D5;

$primary-font-size: 16pt;
$secondary-font-size: 12pt;
$primary-font-size-active: 16.7pt;
$secondary-font-size-active: 12.5pt;
