#switch {
  position: fixed;
  margin-top: 3px;
  margin-right: 110px;
  width: 130px;
  height: 45px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

#switch:active ~ .switch-button {
  color: #293424;
}

#switch:hover ~ .switch-button {
  background: #a7c35b;
}

.switch-button {
  position: fixed;
  margin-right: 110px;
  width: 120px;
  padding: 13px 5px 2px 5px;
  height: 30px;
  font-size: 90%;
  background: #accd7e;
  color: #000;
  text-align: center;
  z-index: 5;
  cursor: pointer;
  border-radius: 3px;
}

@media (min-width: 668px) {
  #switch {
    top: 0;
    right: 0;
  }

  .switch-button {
    margin-top: 3px;
    top: 0;
    right: 0;
  }
}

@media (max-width: 667px) {
  #switch {
    bottom: 0;
    right: 0;
  }

  .switch-button {
    margin-bottom: 3px;
    margin-right: 109px;
    bottom: 0;
    right: 0;
  }
}

.switch-button.to-professional {
  display: none;
}

#switch:checked ~ header .sub-title.professional {
  margin-right: -500%;
}

#switch:checked ~ header .sub-title.personal {
  margin-left: 0;
}

#switch:checked ~ .section .section-title.professional {
  display: none;
}

#switch:checked ~ .section .section-title.personal {
  display: block;
}

#switch:checked ~ .switch-button.to-personal {
  display: none;
}

#switch:checked ~ .switch-button.to-professional {
  display: block;
}

#switch:checked ~ #about .about.professional {
  display: none;
}

#switch:checked ~ #about .about.personal {
  display: block;
}

#switch:checked ~ #expertise .competence-title.professional {
  display: none;
}

#switch:checked ~ #expertise .competence-title.personal {
  display: block;
}

#switch:checked ~ #expertise .competence-description.professional {
  display: none;
}

#switch:checked ~ #expertise .competence-description.personal {
  display: block;
}